{% block blockFavicon %}{{ web.favicon }}{% endblock %}

{% block blockPageName %}{{ page.name }}{% endblock %}

{% block blockTitle %}{{ page.name }}{% endblock %}

{% block blockRearHead %}{{ parent() }}{% endblock %}

{% block blockBody %}
    <div class="page">
        {% if web.page == '' %}Главная страница ...{% else %}Страница <b>{{ web.page }}</b> ...{% endif %}
    </div>
    <div class="container">
        <div class="message">
            {% for p in text %}
                <p>{{ p }}</p>
            {% endfor %}
        </div>
        <div class="pic">
            <img src="{{ pic.random }}"/>
        </div>
    </div>
{% endblock %}