<html>
    <body>
        <h1>{{ a }}</h1>
        qaz
        <b>wer</b>
        <hr/>
        f: {{ f }}<br/>
        f1: {{ f1 }}<br/>
        f2: {{ f2 }}<br/>
        q.f: {{ q.f }}<br/>
        q.q.f: {{ q.q.f }}
    </body>
</html>