{% extends "Cmatrix^custom^master.twig" %}
{# {% block blockFavicon %}{{ page.favicon }}{% endblock %} #}

{% block blockPageName %}{{ page.name }}{% endblock %}

{% block blockTitle %}{{ page.name }}{% endblock %}

{% block blockRearHead %}{{ parent() }}<link rel="stylesheet" media="none" type="text/css" href="/cmatrix/module/Cmatrix/res/custom/session/main.css" onload="if(media!='all')media='all'"/>{% endblock %}

{% block blockBody %}
    <table class="session">
        <tr><td>HID</td><td>{{ session.hid }}</td></tr>
        <tr><td>CTS</td><td>{{ session.ts }}</td></tr>
        <tr><td>UTS</td><td>{{ session.uts }}</td></tr>
        <tr><td>IP</td><td>{{ session.ip4 }}</td></tr>
        <tr><td>Sysuser</td><td>{{ sysuser.name }}</td></tr>
        <tr><td>Agent</td><td>{{ session.agent }}</td></tr>
    </table>
{% endblock %}