{% block blockFavicon %}{{ web.favicon }}{% endblock %}

{% block blockPageName %}{{ page.name }}{% endblock %}

{% block blockTitle %}{{ page.name }}{% endblock %}

{% block blockStyles %}{% endblock %}

{% block blockJss %}{% endblock %}

{% block blockBody %}
    <div class="page">
        {% if page.refer == '' %}Главная страница ...{% else %}Страница <b>{{ page.refer }}</b> ...{% endif %}
    </div>
    
    <div class="container">
        <div class="message">
            {% for p in text.random %}
                <p>{{ p }}</p>
            {% endfor %}
        </div>
        <div class="pic">
            <img src="{{ pic.random }}"/>
        </div>
    </div>
    
    {% if page.exception %}
        <div class="exception">
            <span class="show">Дополнительно ...</span>
            <span class="hide hidden">Скрыть ...</span>
            <div class="message hidden">
                {{ page.exception|raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}