<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="Cache-Control" content="no-cache">
        <title>{{ app.name }} | {% block blockTitle %}{% endblock %}</title>
        <link rel="icon" href="{% block blockFavicon %}{{ page.favicon }}{% endblock %}" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>        
        <meta charset="UTF-8"/>
        {#<link rel="stylesheet" href="{{ awesome }}/css/font-awesome.css"/>#}
        {% block blockRearHead %}<link rel="stylesheet" media="none" type="text/css" href="/cmatrix/module/Cmatrix/res/custom/master/main.css" onload="if(media!='all')media='all'"/><link rel="stylesheet" media="none" type="text/css" href="/cmatrix/module/Vendor/res/fontawesome.com/5.14.0/css/all.css" onload="if(media!='all')media='all'"/>{% endblock %}
    </head>
    <body>
        <h2 class="header">
            <div class="app"><span>{% block blockAppName %}{{ app.name }}{% endblock %}</span> <span> &bull; {% block blockPageName %}{% endblock %}</span></div>
            {# <a href="{{ home }}">{{ name }}</a> <span> &bull; 404</span> #}
            <a class="home" href="{{ url.home }}" title="Главная страница"><i class="fas fa-home"></i></a>            
        </h2>
        
        <div class="body">
            {% block blockBody %}{% endblock %}
        </div>
        
        <div class="footer">
            <div>{{ app.name }} &copy; v{{ app.version }} by {{ app.author }} {{ app.period }}</div>            
        </div>
        
        {% block blockRearBody %}{% endblock %}
    </body>
</html>