{% block blockFavicon %}{{ web.favicon }}{% endblock %}

{% block blockPageName %}{{ page.name }}{% endblock %}

{% block blockTitle %}{{ page.name }}{% endblock %}

{% block blockStyles %}{% endblock %}

{% block blockJss %}{% endblock %}

{% block blockBody %}
    <div class="header">Cессия:</div>
    
    <div class="session">
        <span title="{{ label }}">Проект</span>
        <span title="{{ label }}">{{ code }} / {{ name }}</span>

        <span title="{{ session.props.hid.baloon }}">{{ session.props.hid.label }}</span>
        <span title="{{ session.props.hid.baloon }}">{{ session.values.hid }}</span>
        
        <span title="{{ session.props.create_ts.baloon }}">{{ session.props.create_ts.label }}</span>
        <span title="{{ session.props.create_ts.baloon }}">{{ session.values.create_ts }} // {{ session.duration.create }}</span>
        
        {% if session.values.touch_ts %}
            <span title="{{ session.props.touch_ts.baloon }}">{{ session.props.touch_ts.label }}</span>
            <span title="{{ session.props.touch_ts.baloon }}">{{ session.values.touch_ts }} // {{ session.duration.touch }}</span>
        {% endif %}
        
        <span title="{{ session.props.ip4.baloon }}">{{ session.props.ip4.label }}</span>
        <span title="{{ session.props.ip4.baloon }}">{{ session.values.ip4 }}</span>
        
        {% if session.values.ip4x %}
            <span title="{{ session.props.ip4x.baloon }}">{{ session.props.ip4x.label }}</span>
            <span title="{{ session.props.ip4x.baloon }}">{{ session.values.ip4x }}</span>
        {% endif %}
        
        {% if session.values.proxy %}
            <span title="{{ session.props.proxy.baloon }}">{{ session.props.proxy.label }}</span>
            <span title="{{ session.props.proxy.baloon }}">{{ session.values.proxy }}</span>
        {% endif %}
        
        <span title="{{ session.props.sysuser_id.baloon }}">{{ session.props.sysuser_id.label }}</span>
        <span title="{{ session.props.sysuser_id.baloon }}">{{ sysuser.values.code }} // {{ sysuser.values.name }} // {{ sysuser.values.hid }}</span>
    </div>
    
    <hr/>
    
    <div class="browser">
        {#<div><span class="cursor" onclick="_browser()">Браузер</span></div>#}
        <div><a href="{{ web.browser }}">Браузер</a></div>
        <div>Проверка браузера на соответствие требованиям к системе.</div>
        <div><span class="cursor" onclick="_clear()">Очистить кэш</span></div>
        <div>Позволяет избавиться от ошибок интерфейса и некоторых проблем с передачей данных на сервер. Операция абсолютно безопасна, её можно выполнять бесконечное число раз.</div>
    </div>
{% endblock %}