<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="Cache-Control" content="no-cache">
        <title>{{ app.name }} | {% block blockTitle %}{{ app.title }}{% endblock %}</title>
        <link rel="icon" href="{% block blockFavicon %}{{ web.favicon }}{% endblock %}" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>        
        <meta charset="UTF-8"/>
        
        {#<link rel="stylesheet" href="{{ awesome }}/css/font-awesome.css"/>#}
        
        {% block blockStyles %}{% endblock %}
    </head>
    <body>
        <h2 class="header">
            <div class="app"><span>{% block blockAppName %}{{ app.name }}{% endblock %}</span> <span> &bull; {% block blockPageName %}{{ page.name }}{% endblock %}</span></div>
            {# <a href="{{ home }}">{{ name }}</a> <span> &bull; 404</span> #}
            <a class="home" href="{{ web.home }}" title="Главная страница"><i class="fas fa-home"></i></a>            
        </h2>
        
        <div class="body">
            {% block blockBody %}{% endblock %}
        </div>
        
        <div class="footer">
            <div>{{ app.name }} &copy; v{{ app.version }} by {{ app.author }} {{ app.period }}</div>            
        </div>
        
        {% block blockJss %}{% endblock %}
    </body>
</html>